@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    color: #FFFAFA;
    background-color: #8B7D7B;
    font-family: "Open Sans";
    text-align: center;
    font-size: 14px;
}

.menu-item,
button {
    color: #FFFAFA;
    padding: 4px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #8B7D7B;
    cursor: pointer;
    border: 1px solid #FFFAFA;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 2px #E5F2F2, inset 0px -30px 10px -12px #8B7D7B;
}

.menu-item:hover {
    background-color: #584A48;
}

button {
    width: 100px;
    position: relative;
}

button:hover {
    background-color: #584A48;
}

table {
    width: 90%;
    margin: 0px 20px;
    text-align: center;
}

td {
    text-align: center;
    border-spacing: 0px 5px
}

input[type=text],
textarea {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    border: 1px solid #E5F2F2;
    font-size: 16px;
    text-align: center;
    color: #473937;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

input[type=checkbox] {
    border: 1px solid #E5F2F2;
    font-size: 16px;
    background-color: #8B7D7B;
    box-shadow: 0 1px 2px #E5F2F2;
    color: #473937;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
input[type=checkbox][disabled]{
    box-shadow: none;
}

textarea {
    height: 150px;
    font-size: 14px;
    text-align: left;
}
